@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glass-dark {
    background: rgba(115, 115, 115, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-color: rgba(121, 121, 121, 0.1);
    border-width: 1px;
  }
}
